# === REPOSITORY === #

# Python virtual enviroment and cache.
__pycache__
.venv
# Visual Studio Code project files.
.vscode

# === USER === #

# Parced titles data.
Covers
Titles
Logs
# Builded titles data.
Output
Temp
# Collection of filtered slugs of titles.
Collection.txt