# Visual Studio project files.
Remanga Parser.pyproj
Remanga Parser.sln
.vs

# Parced titles data.
Covers
Titles
Logs

# Builded titles data.
Output
Temp

# Collection of filtered slugs of titles.
Collection.txt

# Python cache.
__pycache__