# Visual Studio project files.
Remanga Parser.pyproj
Remanga Parser.sln
.vs

# Parced titles data.
Covers
Titles
Logs

# Collection of filtered slugs of titles.
Collection.txt

# Python cache.
__pycache__

# WebDriver manager configuration.
.wdm